<script type="text/javascript">
    $(document).ready(function(){
        $('.checkAll').click(function(){
            $('input[type=checkbox].chk').attr('checked', $(this).attr('checked'));
        });
        $('#btn_dicision').click(function(){
            if($('input[type=checkbox].chk:checked').length > 0 ){  
                $('#change_dicision').attr('action', '<?php echo $this->webroot; ?><?php echo $this->name; ?>/result').submit();
            } else {
                alert('変更を行う売上履歴を選択してください');
                return false;
            }
        });

        $(function (){
          $('img.scroll').click(function(){
           var to_id = $(this).attr('to_id');
           var obj = $('#'+to_id);
           var offset = obj.offset();

           scrollTo(0,offset.top);
           });
        });
    });
</script>
<div id="TopicPath">
    <ul>
        <li><a href="<?php echo $this->webroot; ?>">TOP</a></li>
        <li><a href="<?php echo $this->webroot; ?><?php echo $this->name; ?>">売上検索</a></li>
        <li>売上変更確認</li>
    </ul>
</div>
<h2 class="HeaddingLarge"><span>売上変更確認</span></h2>

<form class="validate_form" id="change_dicision" action="<?php echo $this->webroot; ?><?php echo $this->name; ?>/result" method="post">
<input type="hidden" name="data[operationDate]" value="<?php echo date("Y-m-d H:i:s")?>" />
<?php echo $this->form->input('TrnClaim.time' , array('type'=>'hidden' , 'value' => date('Y/m/d H:i:s.u')))?>
<br>
    <div id="results">
        <div class="DisplaySelect">
            <table style="width:100%;">
            <tr>
                <td align="right"><div id="pageTop"></div></td>
            </tr>
            </table>
        </div>
        <div class="TableScroll2">
            <table class="TableStyle01 table-odd2">
                <colgroup>
                    <col width="20"/>
                    <col width="150"/>
                    <col width="100"/>
                    <col>
                    <col>
                    <col width="160"/>
                    <col width="100"/>
                    <col width="100"/>
                    <col width="100"/>
                    <col width="40"/>
                </colgroup>
                <tr>
                    <th rowspan="2"><input type="checkbox" class="checkAll" checked="checked"></th>
                    <th colspan="2">得意先　／　部署</th>
                    <th>商品名</th>
                    <th>製品番号</th>
                    <th>ロット番号</th>
                    <th>数量</th>
                    <th>売上単価</th>
                    <th>金額</th>
                    <th rowspan="2">遡及<BR>除外</th>
                </tr>
                <tr>
                    <th>勘定科目</th>
                    <th>売上日</th>
                    <th>規格</th>
                    <th>販売元</th>
                    <th>部署シール</th>
                    <th>商品ID</th>
                    <th>マスタ単価</th>
                    <th>区分</th>
                </tr>
                <?php $i=0;foreach($SearchResult as $_row): ?>
                <tr>
                    <td rowspan="2">
                        <?php if($_row[0]['is_deleted'] != '1' && $_row[0]['retroact_execution_flag'] != '1'): ?>
                            <?php echo $this->form->checkbox("TrnClaim.id.{$_row[0]['id']}", array('checked'=>true , 'class' => 'center chk' , 'hiddenField'=>false , 'value'=>$_row[0]['id'])); ?>
                        <?php endif; ?>
                    </td>
                    <td colspan="2"><?php echo h_out($_row[0]['facility_name']);?></td>
                    <td><?php echo h_out($_row[0]['item_name']); ?></td>
                    <td><?php echo h_out($_row[0]['item_code']); ?></td>
                    <td><?php echo h_out($_row[0]['lot_no']); ?></td>
                    <td><?php echo h_out($_row[0]['count'].$_row[0]['packing_name'],'right'); ?></td>
                    <?php if($_row[0]['status']){ // 書き換え権限あり  ?>
                    <td><?php echo($this->form->text("TrnClaim.unit_price.{$_row[0]['id']}", array('class' => 'r txt num', 'maxlength' => '50', 'value'=>$_row[0]['unit_price']))); ?></td>
                    <?php } else { // 書き換え権限なし ?>
                    <td><?php echo h_out($this->Common->toCommaStr($_row[0]['unit_price']),'right'); ?></td>
                    <?php } ?>
                    <td><?php echo h_out($this->Common->toCommaStr($_row[0]['claim_price']),'right'); ?></td>
                    <td rowspan="2" class="center">
                            <?php
                            if(strcmp($_row[0]['is_not_retroactive'],"true")==0){
                                echo $this->form->checkbox("TrnClaim.retroactive.{$_row[0]['id']}", array('class' => 'center','checked' => 'checked' , 'hiddenField'=>false));
                            }else{
                                echo $this->form->checkbox("TrnClaim.retroactive.{$_row[0]['id']}", array('class' => 'center' , 'hiddenField'=>false));
                            }
                            ?>
                    </td>
                </tr>
                <tr>
                    <td><?php echo h_out($_row[0]['accountlists_name']); ?></td>
                    <td><?php echo h_out($_row[0]['claim_date'], 'center'); ?></td>
                    <td><?php echo h_out($_row[0]['standard']); ?></td>
                    <td><?php echo h_out($_row[0]['dealer_name']); ?></td>
                    <td><?php echo h_out($_row[0]['hospital_sticker_no'],'center'); ?></td>
                    <td><?php echo h_out($_row[0]['internal_code'],'center'); ?></td>
                    <td><?php echo h_out($this->Common->toCommaStr($_row[0]['sales_price']),'right'); ?></td>
                    <td><?php echo h_out($_row[0]['type_name'],'center'); ?></td>
                </tr>
                <?php $i++;endforeach; ?>
            </table>
        </div>
        <div align="right" id="pageDow"></div>
        <div class="ButtonBox">
            <p class="center"><input type="button" class="btn btn2 [p2]" id="btn_dicision" /></p>
        </div>
    </div>
</form>
