<div id="content-wrapper">
<div id="TopicPath">
    <ul>
        <li><a href="<?php echo $this->webroot; ?>login/home/">TOP</a></li>
        <li>Myマスタ</a></li>
    </ul>
</div>

<h2 class="HeaddingLarge"><span>Myマスタ</span></h2>
<div class="SearchBox">
    <table class="FormStyleTable">
        <colgroup>
            <col width="20"/>
            <col />
        </colgroup>
        <?php foreach($result as $r){?>
        <tr>
            <td></td>
            <td><h2 class="HeaddingSmall"><a href="<?php echo $this->webroot;?><?php echo $r[0]['url'] ?>"><?php echo $r[0]['name'] ?></a>
        </tr>
        <?php } ?>
    </table>
</div>
    </div><!--#content-wrapper-->
