<script>
$(document).ready(function(){
    $("#logout_btn").click(function(){
        validateDetachSubmit($("#LoginForm") , '<?php echo $this->webroot; ?>login/logout/');
    });
});
</script>
<form class="validate_form" id="LoginForm">
    <div style="margin-top:100px;text-align:center;">
    <p class="ColumnRed">パスワードを更新しました。</p>
    <p><input type="button" value="　ログイン　" id="logout_btn" /></p>
    </div>
</form>
