#meccul-header {
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 0px 20px;
}

#meccul-header h2 {
    color: #eb6100;
    font-size: 30px;
}

#meccul-header h2 span {
    font-size: 50px;
    margin: 0 10px 0 0;
    font-family: Verdana;
}

#meccul-header a {
    position: absolute;
    right: 20px;
    top: 5px;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    line-height: 0;
    transition: all 0.2s ease 0s;
}

#meccul-header a:hover {
    border: 1px solid #eb6100;
    opacity: 0.7;
}

.meccul-des {
    background-color: #eee;
    padding: 20px;
    margin: 0px 0 30px 0;
    letter-spacing: 1px;
    overflow: auto;
}

.meccul-des ul{
    margin: 0;
    padding: 0;
    line-height: 1.8;
    font-size: 18px;
}

.meccul-des ul li{
    margin: 0;
    padding: 0;
}

.meccul-des ul.graph {
    font-size: 16px;
}

.meccul-des ul.graph li {
    float: left;
    width: 220px;
    margin: 0 20px 0 0;
}

.meccul-des ul.graph li img {
    border: 2px solid #eb6100;
    padding: 20px;
    display: block;
    border-radius: 10px;
    background: #fff;
}

.meccul-des ul.graph li p{
    line-height: 1.5;
    font-size: 15px;
}

.meccul-des ul.graph li p span{
    display: block;
    font-weight: bold;
}

h3.mexxul-order{
    background: #eb6100;
    color: #fff;
    margin: 0;
    text-align: center;
    padding: 15px;
    font-size: 26px;
}

h3.mexxul-order + div.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 55px 0 55px;
    border-color: #eb6100 transparent transparent transparent;
    margin: 0px auto;
}

div.triangle + p{
    font-size: 16px;
    margin: 20px 20px;
    text-align: center;
}

.h4terms{
    font-size: 22px;
    margin: 20px 20px 10px 20px;
}

.terms{
    border: 5px solid #ccc;
    margin: 15px 20px 30px;
    padding: 0px 10px;
    font-size: 16px;
    line-height: 1.6;
    overflow: scroll;   /* スクロール表示 */ 
    height: 300px;
}

.terms dt{
    font-weight: bold;
    border-bottom: 1px dashed #666;
    margin: 0px 0 5px;
    padding: 0 0 3px 0;
}

.terms dd{
    margin: 0 0 20px;
}

.terms dd ul{
    list-style: none;
   padding: 0px 0 0 15px;
}

a.meccul-order{
    width: 400px;
    display: block;
    font-size: 30px;
    text-decoration: none;
    border-bottom: 5px solid #9f4100;
    font-weight: bold;
    background: #eb6100;
    color: #fff;
    padding: 20px;
    margin: 0px auto 40px;
    text-align: center;
    transition: all 0.2s ease 0s;
}

a.meccul-order:hover{
    color: #6f7120;
    border-bottom: 5px solid #6f7120;
    background: #ffc800;
}

