.m-0{margin: 0px;}
.ml-5{margin: 0 0 0 5px;}
.mr-5{margin: 0 5px 0 0px;}
.mr-30{margin: 0 30px 0 0px;}

a.text-link{
    text-decoration: none;
    border-bottom: 1px dotted #397e79;
    color: #397e79;
    font-weight:bold;
}


nav.concierge-tab{
    border-bottom: 3px solid #00ab8d;
    margin: 30px 0 0 0;	
}

nav.concierge-tab ul{
    margin: 0 0 0 20px;
    padding: 0;
    font-size: 14px;
}

nav.concierge-tab ul li{
    display: inline-block;
    text-align: center;
}

nav.concierge-tab ul li a{
    color: #fff;
    display: block;
    background: #397e79;
    width: 150px;
    text-decoration: none;
    margin: 0px 5px 0 0;
    padding: 10px 0;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius:5px 5px 0px 0px;
    transition: all 0.2s ease 0s;
}

nav.concierge-tab a.current{
    background: #00ab8d;
}

nav.concierge-tab ul li a:hover{
    background: #00ab8d;
}


input.concierge_text{
    padding-left: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    font-size: 12px;
    width: 70px;
}

input.concierge_text_2{
    padding-left: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    font-size: 12px;
}

input.concierge_text_3{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    font-size: 12px;
    width: 100%;
}


input.concierge_text30{
    padding-left: 1em;
    padding-right: 1em;
    width: 30em;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    font-size: 12px;
}

input.common-button-3 {
    position: absolute;
    left: 45%;
    clear: both;
    display: block;
}

.common-button-3 {
    background-color: #397e79;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 30px;
    transition: all 0.2s ease 0s;
}

.common-button-3:hover {
    background: #00ab8d none repeat scroll 0 0;
}

.common-button-4{
    background-color: #666;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 30px;
    transition: all 0.2s ease 0s;
}

.common-button-4:hover {
    background: #00ab8d none repeat scroll 0 0;
}


div.conth3{
    background: #f7f7f7 none repeat scroll 0 0;
    border:1px solid #ccc;
    border-image: none;
    color: #666;
    font-weight: normal;
    margin: 0 20px;
    padding: 5px 0 5px 10px;
}


table.conciergetable {
    border-collapse: collapse;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    color: #000;
    font-size: 13px;
    margin: 0 0 10px;
    width: 98%;
}

table.conciergetable th {
    background-color: #f7f7f7;
    background-image: none;
    background-position: center bottom;
    background-repeat: repeat-x;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    color: #666;
    padding: 2px;
    white-space: nowrap;
}
table.conciergetable td {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    padding: 10px 15px;
	white-space: nowrap;
    font-size: 16px;
    color: #444;
}
table.conciergetable tr.odd td {
    background: #dee3db none repeat scroll 0 0;
}
table.conciergetable tr.invalidity td {
    background: #ccc none repeat scroll 0 0;
}
table.conciergetable td.big {
    font-size: 124%;
}
table.conciergetable img {
    vertical-align: middle;
}

div.textarea_box{
    margin: 0px 30px 60px 20px;
}

div.textarea_box h3{
    margin: 20px 0 10px;
    padding: 0;
    color: #666;
}

textarea.concierge_textarea{
    width: 100%;
    height: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 0 0 10px;
}



.status0 , .status1 , .status2, .status3 {
    padding: 0px 25px;
    margin:0px 5px;
    color: #fff;
    border-style: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: 14px;
}

.status0 {
    background-color: #E4007F;
}

.status1 {
    background-color: #F39D4C;
}

.status2 {
    background-color: #3CB2D3;
}

.status3 {
    background-color: #727171;
}


.d-icon:before {
    content:url(../img/d-icon.png);
    border: 1px solid #e6e6e7;
    margin: 5px 5px 5px 5px;
    padding: 3px 5px 5px;
	background-color: #f7f8f8;
    border-radius: 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    float: left;
    display: block;
    height: 12px;
    width: 12px;
    line-height: 1;
    cursor: pointer;
}

.u-icon:before {
    content:url(../img/u-icon.png);
    border: 1px solid #e6e6e7;
    margin: 5px ;
    background-color:#f7f8f8;
    border-radius: 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    padding: 2px 5px 6px;
    height: 12px;
    display: block;
    width: 12px;
    float: left;
    line-height: 1;
    cursor: pointer;
	}

td.tiket-title  {
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
}
	
td.tiket-title:hover  {
	background: #daebda;
}


.r-icon:after {
    content:url(../img/r-icon.png);
    border: 1px solid #ccc;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 1px ;
    background-color: #dddddd;
}

.res-wrap{
    float: right;
    display: block;
    background: #f7f8f8;
    border: 1px solid #e6e6e7;
    border-radius: 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    padding: 0px 25px;
    margin: 5px 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
    cursor: pointer;
    font-size: 14px;
	}
	
.res-wrap:hover{
    border: 1px solid #00ab8d;
    background: #fff;
	}

.res-wrap img{
    margin: 5px 4px 0 0;
    line-height: 3;
    display: block;
    float: left;
}


.user-icon:before {
    content:url(../img/user-icon.png);
    margin: 4px 5px 0;
    display: block;
    float: left;
}

.master-icon:before {
    content:url(../img/master-icon.png);
    margin: 4px 5px 0;
    display: block;
    float: left;
}

.child > td:first-child {
    padding-left:60px!important;
    margin-left:30px!important;
}

.child_header > td:first-child{
    padding-left:30px!important;
    margin-left:30px!important;
}

.child > td{
    border-style : none solid none!important;
    border-color : #ccc!important;
    background-color:#FFFFFF!important;
}

.child_header > td{
    border-style : dotted solid none!important;
    border-color : #ccc!important;
    background-color:#f7f8f8!important;
}

/*コンシェルジュデスクお問い合わせ一覧テーブル*/

table.TableStyle-desk {
    margin: 0 0 10px;
    color: #000;
    font-size: 13px;
    width:98%;
    border-style: solid;
    border-color:#059D9D;
    border-width: 1px;
    border-collapse: collapse;
}

table.TableStyle-desk th {
    padding: 2px;
    white-space: nowrap;
    border-color: #ccc;
    border-style:solid;
    border-width: 1px;
    color: #444;
    background-color: #f7f8f8;
    background-image: none;
    background-repeat: repeat-x;
    background-position: bottom;
}
table.TableStyle-desk td {
    font-size: 16px;
    white-space: nowrap;
    border-style:solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 2px 10px 0;
    line-height: 2;
    color: #444;
}

table.TableStyle-desk tr.odd td {
    background: #dee3db;
}
table.TableStyle-desk tr.invalidity td {
    background: #ccc;
}
table.TableStyle-desk td.big {
    font-size: 124%;
}
table.TableStyle-desk img {
    vertical-align: middle;
}
