/* line 6, ../../scss/dashboard.scss */
.row.fullWidth {
  width: 100%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}
/* line 12, ../../scss/dashboard.scss */
.row.fullWidth .columns {
  padding: 0 7px;
}
/* line 14, ../../scss/dashboard.scss */
.row.fullWidth .columns:first-child {
  padding: 0 7px 0 15px;
}
@media only screen and (max-width: 640px) {
  /* line 14, ../../scss/dashboard.scss */
  .row.fullWidth .columns:first-child {
    padding: 0 15px;
  }
}
/* line 20, ../../scss/dashboard.scss */
.row.fullWidth .columns:last-child {
  padding: 0 15px 0 7px;
}
@media only screen and (max-width: 640px) {
  /* line 20, ../../scss/dashboard.scss */
  .row.fullWidth .columns:last-child {
    padding: 0 15px;
  }
}

/* line 33, ../../scss/dashboard.scss */
#dashboard-widget-box .box {
  border: 1px solid #ccc;
  margin: 0 0 15px;
  padding: 20px;
  overflow: auto;
  color: #fff;
  text-align: right;
  position: relative;
}
/* line 43, ../../scss/dashboard.scss */
#dashboard-widget-box .box * {
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}
/* line 48, ../../scss/dashboard.scss */
#dashboard-widget-box .box:hover ul.dash-menu li {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
/* line 54, ../../scss/dashboard.scss */
#dashboard-widget-box .box h2 {
  opacity: 0.7;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
}
/* line 64, ../../scss/dashboard.scss */
#dashboard-widget-box .box h3 {
  margin: 0;
  color: #fff;
  padding: 5px 0 0;
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}
/* line 72, ../../scss/dashboard.scss */
#dashboard-widget-box .box p {
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  line-height: 1.3;
}
/* line 77, ../../scss/dashboard.scss */
#dashboard-widget-box .box p.dcont-01 {
  font-size: 28px;
  font-weight: bold;
}
/* line 80, ../../scss/dashboard.scss */
#dashboard-widget-box .box p.dcont-01 span {
  font-size: 46px;
  margin: 0 3px 0 0;
  font-family: gill sans;
  vertical-align: -2px;
}
/* line 87, ../../scss/dashboard.scss */
#dashboard-widget-box .box p.dcont-02 {
  font-size: 14px;
  font-weight: bold;
}
/* line 90, ../../scss/dashboard.scss */
#dashboard-widget-box .box p.dcont-02 span {
  font-size: 30px;
  font-family: gill sans;
  margin: 0 2px;
  vertical-align: -1px;
}
/* line 98, ../../scss/dashboard.scss */
#dashboard-widget-box .box a {
  color: #fff;
  font-size: 16px;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 106, ../../scss/dashboard.scss */
#dashboard-widget-box .box a:hover {
  opacity: 0.6;
}

/* line 112, ../../scss/dashboard.scss */
.dash-claim {
  background: #009e91 url("../img/dashboard_icon_01.png") no-repeat;
  background-position: -15px 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 119, ../../scss/dashboard.scss */
.dash-claim:hover {
  background: #666666 url("../img/dashboard_icon_01.png") no-repeat;
  background-position: -15px 0;
}

/* line 124, ../../scss/dashboard.scss */
.dash-enter {
  background: #f0831e url("../img/dashboard_icon_02.png") no-repeat;
  background-position: -15px center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 131, ../../scss/dashboard.scss */
.dash-enter:hover {
  background: #666666 url("../img/dashboard_icon_02.png") no-repeat;
  background-position: -15px center;
}

/* line 136, ../../scss/dashboard.scss */
.dash-billing {
  background: #dc5945 url("../img/dashboard_icon_06.png") no-repeat;
  background-position: -15px 15px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 143, ../../scss/dashboard.scss */
.dash-billing:hover {
  background: #666666 url("../img/dashboard_icon_06.png") no-repeat;
  background-position: -15px 15px;
}

/* line 148, ../../scss/dashboard.scss */
dl.bill-table {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 22px;
  margin: 15px 0 0;
  border-left: 1px solid #fff;
}
/* line 155, ../../scss/dashboard.scss */
dl.bill-table dt {
  border-top: 1px solid #fff;
  float: left;
  clear: left;
  border-right: 1px solid #fff;
  margin: 0 0 0 5px;
  padding: 5px 20px;
  font-weight: bold;
}
/* line 165, ../../scss/dashboard.scss */
dl.bill-table dd {
  border-top: 1px solid #fff;
  padding: 5px 10px 5px 0;
  font-weight: bold;
  margin-bottom: 0;
}

/* line 172, ../../scss/dashboard.scss */
.dash-order {
  background: #96be48 url("../img/dashboard_icon_01.png") no-repeat;
  background-position: -15px 15px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 179, ../../scss/dashboard.scss */
.dash-order:hover {
  background: #666666 url("../img/dashboard_icon_01.png") no-repeat;
  background-position: -15px 15px;
}

/* line 184, ../../scss/dashboard.scss */
.dash-master {
  background: #886699 url("../img/dashboard_icon_03.png") no-repeat;
  background-position: -15px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 191, ../../scss/dashboard.scss */
.dash-master:hover {
  background: #666666 url("../img/dashboard_icon_03.png") no-repeat;
  background-position: -15px;
}

/* line 196, ../../scss/dashboard.scss */
.dash-zura {
  background: #e2528e url("../img/dashboard_icon_05.png") no-repeat;
  background-position: -15px 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 203, ../../scss/dashboard.scss */
.dash-zura:hover {
  background: #666666 url("../img/dashboard_icon_05.png") no-repeat;
  background-position: -15px 10px;
}

/* line 208, ../../scss/dashboard.scss */
.dash-info {
  background: #19afc4 url("../img/dashboard_icon_04.png") no-repeat;
  background-position: -15px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 215, ../../scss/dashboard.scss */
.dash-info ul {
  margin: 0;
  padding: 0;
}
/* line 218, ../../scss/dashboard.scss */
.dash-info ul li {
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin: 0;
  padding: 10px;
  border-color: #eee;
}
/* line 225, ../../scss/dashboard.scss */
.dash-info ul li a {
  font-size: 12px;
  line-height: 1.4;
}

/* line 232, ../../scss/dashboard.scss */
.dash-coslos {
  background: #9a8150 url("../img/dashboard_icon_03.png") no-repeat;
  background-position: 0 10px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 240, ../../scss/dashboard.scss */
.dash-bench {
  background: #db383b url("../img/dashboard_icon_07.png") no-repeat;
  background-position: 0 10px;
}
/* line 243, ../../scss/dashboard.scss */
.dash-bench:hover {
  background: #666666 url("../img/dashboard_icon_07.png") no-repeat;
  background-position: 0 10px;
}

/* line 248, ../../scss/dashboard.scss */
.dash-others {
  background: #9d989a url("../img/dashboard_icon_08.png") no-repeat;
  background-position: -10px 15px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 255, ../../scss/dashboard.scss */
.dash-others:hover {
  background: #666666 url("../img/dashboard_icon_08.png") no-repeat;
  background-position: -10px 15px;
}

/* line 260, ../../scss/dashboard.scss */
ul.dash-menu {
  position: absolute;
  top: 0;
  padding: 10px 0 0;
  margin: 0;
  letter-spacing: 1px;
}
/* line 266, ../../scss/dashboard.scss */
ul.dash-menu h3 {
  font-size: 16px;
}
/* line 269, ../../scss/dashboard.scss */
ul.dash-menu li {
  opacity: 0;
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
  line-height: 1.4;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}

/* line 284, ../../scss/dashboard.scss */
ul.dash-widget li:hover ul.dash-menu li {
  opacity: 1;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
