@charset "utf-8";

.nav-back{
    padding: 0 0 0 20px;
    background: #397e79;
    height: 40px;
    display: block;
    clear:both;
    min-width: 800px;
    max-width: 100%;
}

ul.menu {
    position: relative;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    line-height: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
}
ul.menu li {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 25px;
    white-space: nowrap;
    float: left;
    color: #000000;
    border: none;
    margin: 0;
    padding: 0;
}

ul.menu li.last-child a{
    height: 30px;
}

ul.menu li.last-child a:hover{
    height: 30px;
}

ul.menu li a img{
    padding: 0;
   vertical-align: middle;
}

ul.menu a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    margin: 0;
    padding: 5px 20px;
	    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
}

ul.menu li a:hover {
    color: #ffffff;
    background: #00ab8d;
}

ul.menu a span{
    position: relative;
    top: 2px;
    margin: 0 0 0 5px;
}

ul.menu a:visited {
}

ul.menu ul {
    position: relative;
    display: none;
    list-style: none;
    height: 25px;
    color: #000000;
    background: #eeeeee;
    margin: 0;
    padding: 0;
}

ul.menu > li li {
    width: 100%;
}
ul.menu > li li a {
    background: #eeeeee;
    padding: 2px 0 2px 10px;
    width: 100%;
    color: #000;
    font-size: 12px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
}

ul.menu li:hover > a {
    color: #fff;
    background: #00ab8d;
}
ul.menu li:hover > ul {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
}
ul.menu li li:hover ul {
    top: 0px;
    left: 100%;
}


