body {
    font-family:'lucida grande', verdana, helvetica, arial, sans-serif;
    margin: 0;
    font-size: 12px;
}
form {
    margin:0px;
}
td {
    white-space: nowrap;
}
div#wrapper {
    margin: 10px 0 60px;
}
div#sidemenu {
    float: left;
    width:15%;
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    top:75px;
}
div#main {
    float: right;
    width:84%;
    display: inline-block;
    margin-top: 10px;
}

div#content {
    padding-bottom: 0px;
    padding-top: 0px;
    width:100%;
    padding-bottom: 0px;
    padding-top: 0px;
    background: #fff;
    clear: both;
    color: #333;
    overflow: hidden;
}
div#main_content {
    width :100%;
    float:left;
}

div#main_content.fav {
    width:80%;
}

div#fav_menu {
    width:20%;
    float:left;
}
/*
div#header {
    height: 60px;
    background-image : url(../img/header_bg.png);
    background-repeat : repeat-x;
}
  */

#header_form p.facility{
    float:left;
    vertical-align:middle;
    margin: 25px 0 0 20px;
}

#header_form p.h-menu{
    display:block;
    float:right;
    vertical-align:middle;
    margin: 25px;
}

#header_form span.edition-bg{
    color: #fff;
    padding: 2px 4px;
    border-radius: 3px;
}

.bg_standard{
background-image: -moz-linear-gradient(top, #2d72a4, #30436b);
background-image: -ms-linear-gradient(top, #2d72a4, #30436b);
background-image: -o-linear-gradient(top, #2d72a4, #30436b);
background-image: -webkit-linear-gradient(top, #2d72a4, #30436b);
background-image: linear-gradient(top, #2d72a4, #30436b);
    }

.bg_premium{
background-image: -moz-linear-gradient(top, #b45c85, #7b385f);
background-image: -ms-linear-gradient(top, #b45c85, #7b385f);
background-image: -o-linear-gradient(top, #b45c85, #7b385f);
background-image: -webkit-linear-gradient(top, #b45c85, #7b385f);
background-image: linear-gradient(top, #b45c85, #7b385f);
    }

.bg_platinum{
background-image: -moz-linear-gradient(top, #4b595b, #2b353c);
background-image: -ms-linear-gradient(top, #4b595b, #2b353c);
background-image: -o-linear-gradient(top, #4b595b, #2b353c);
background-image: -webkit-linear-gradient(top, #4b595b, #2b353c);
background-image: linear-gradient(top, #4b595b, #2b353c);
    }

#header_form span.master-bg{
    background: #397e79;
    color: #fff;
    border-radius: 3px;
    padding: 2px 4px;
}

#header_form p img{
    margin: -2px 3px 0 0;
    display: block;
    float: left;
}

div.HeaderLogo {
    float:left;
    width:190px;
    height: 50px;
    margin: 10px 0 10px 20px;
    background-image : url(../img/header_logo.png);
    background-repeat : no-repeat;
    background-size:190px 50px;
}

/*---アンダーページ---------------------------------*/
#content-wrapper{
    border: 1px solid #ccc;
    min-width: 800px;
    max-width: 100%;
    margin: 15px 20px 40px 20px;
    }

#content-wrapper div.results,#content-wrapper{
    margin: 20px 0 20px 20px;
    }
	
div#wrapper-in{
    font-size: 16px;
    margin: 20px;
}


div.linebox{
    border: 1px solid #ccc;
    margin: 0 0 30px;
    padding: 0;
}

div.linebox h3{
    padding: 15px;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

h3.green{
    background: #0c9482;
    color: #fff;
}

div.linebox h3 + p{
    margin: 20px 0 0px 20px;
}

div.linebox ul{
    margin: 20px;
    padding: 0;
    line-height: 1.5;
}

div.linebox ul li{
    list-style: inside;
}

div.linebox ul.flow-Tandem{
    margin: 20px 20px 40px 20px;
	}

div.linebox ul.flow-Tandem li{
    list-style: none;
    margin: 0px 0 10px;
	}
	
div.linebox ul.flow-Tandem li.tandem-box{
    border: 4px solid #777;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border-bottom: 7px solid #777;
background-image: -moz-linear-gradient(top, #ffffff, #cccccc);
background-image: -ms-linear-gradient(top, #ffffff, #cccccc);
background-image: -o-linear-gradient(top, #ffffff, #cccccc);
background-image: -webkit-linear-gradient(top, #ffffff, #cccccc);
background-image: linear-gradient(top, #ffffff, #cccccc);
    opacity: 0.7;
	}
	
div.linebox ul.flow-Tandem li.triangle{
width: 0;
height: 0;
border-style: solid;
border-width: 35px 55px 0 55px;
border-color: #0c9482 transparent transparent transparent;
    margin: 10px auto;
	}

/*------------------------------------*/

div.HeaderLoginInfo {
    float:left;
    margin-top:10px;
    margin-left:100px;
    display: inline;
}
div.HeaderLoginInfo table {
    width:100%;
}
div.HeaderLoginInfo input {
    padding:1px;
    vertical-align: middle;
}

span#logout{
    cursor: pointer;
    margin: 0;
}
span#myPage{
    cursor: pointer;
    margin: 0;
}

div#footer {
    color:white;
    clear: both;
    padding: 6px 10px;
    text-align: right;
    height: 15px;
    background-image : url(../img/footer_bg.png)
}
div.TopAnchorLink {
    background-repeat : no-repeat;
    width:100%;
    height:20px;
    background-image : url(../img/top_foot.png);
    background-position: right bottom;
}
div.BottomAnchorLink {
    background-repeat : no-repeat;
    width:100%;
    height:20px;
    background-image : url(../img/foot_top.png);
    background-position: right bottom;
}
div#TopicPath {
    background: #f7f7f7;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}
div#TopicPath li {
    display:inline;
}
div#TopicPath li a {
    padding-right:10px;
    background:url(../img/topicpath.png) no-repeat right center;
    color: #397e79;
}

div#TopicPath li.pankuzu{
    padding-right:10px;
    background:url(../img/topicpath.png) no-repeat right center;
}

table.TopicPath3{
    width:100%;
}
.TopicPath3 tr{
    margin: 0.3em 0 4px;
    line-height: 28px;
    font-size: 124%;
    border: solid 1px #aaa;
    background: url(../img/ttlbg_h1_bg.png) left repeat-x;
}
.TopicPath3 td{
    white-space: nowrap;
}
.TopicPath3 span{
    display: block;
    height: 28px;
    padding-left: 25px;
    background: url(../img/ttlbg_h1.png) left no-repeat;
    border-style: solid;
    border-color:#059D9D;
    border-width: 1px;
    line-height: 28px;
    font-size: 110%;
    font-weight: bold;
}

.TopicPath3 ul {
    margin:0px;
    display: block;
    height: 28px;
    background: url(../img/ttlbg_h1.png) left no-repeat;
    padding-left: 25px;
}
.TopicPath3 li {
    list-style:none;
    display:inline;
    font-size: 90%;
}
.TopicPath3 li a {
    padding-right:10px;
    background:url(../img/topicpath.png) no-repeat right center;
}

.list-style-orange li:before{
    color: #eb6100;
    content: "●";
    margin: 0px 5px 0 0 ;
	}

/*----------------------------------------------------*/
div.SearchBox {
    padding: 5px 20px 0;
    overflow:hidden;
}
div.SelectBoxarea {
    width:100%;
    margin-bottom:20px;
}
div.SelectBoxarea p {
    margin-top:20px;
}
div.SelectBoxarea div {
    float:left;
}
dl.FormStyle01 {
    margin: 5px auto;
}
dl.FormStyle01 dt {
    float: left;
    font-size: 108%;
    font-weight: bold;
}
dl.FormStyle01 dt img {
    vertical-align:middle;
}
dl.FormStyle01 dd {
    font-size: 12px;
    padding-left: 10.5em;
    padding-bottom: 6px;
    border-bottom: dotted 1px #ddd;
}
div.ColumnLeft {
    float: left;
}
div.ColumnRight {
    float: left;
}
table.FormStyleTable {
    margin: 0 0;
}
table.FormStyleTable th {
    white-space: nowrap;
    padding: 5px 10px 5px 0;
    font-size: 108%;
    text-align: left;
    border: none;
    border-bottom: dotted 1px #ddd;
}
table.FormStyleTable td {
    padding: 3px 0;
    border: none;
    border-bottom: dotted 1px #ddd;
}
table.FormStyleTable th.bg_gray {
    background:#ccc;
}
select.barcodelist {
    width:150px;
}
hr.Clear {
    clear: both;
    margin: 0;
    border: none;
    background: #fff;
    color: #fff;
}

div.TableHeaderAdjustment01 {
    width:98%;
    background-color: #07A2A2;
}

div.OrderDecisionConfirmNote {
    width:98%;
    text-align: right;
}
table.TableStyle01 {
    margin: 0 0 10px;
    color: #000;
    font-size: 13px;
    width:98%;
    border-style: solid;
    border-color:#059D9D;
    border-width: 1px;
    border-collapse: collapse;
}
table.TableHeaderStyle01 {
    color: #000;
    font-size: 13px;
    width:100%;
    border-style: solid;
    border-color:#059D9D;
    border-width: 1px;
    border-collapse: collapse;
    background-color: #07A2A2;
}
table.TableStyle01 th {
    padding: 2px;
    white-space: nowrap;
    border-color: #059D9D;
    border-style:solid;
    border-width: 1px;
    color: #fff;
    background-color: #07A2A2;
    background-image: none;
    background-repeat: repeat-x;
    background-position: bottom;
}
table.TableStyle01 td {
    font-size: 12px;
    white-space: nowrap;
    border-style:solid;
    border-width: 1px;
    border-color: #059D9D;
    padding:2px;
}
table.TableStyle01 tr.odd td {
    background: #dee3db;
}
table.TableStyle01 tr.invalidity td {
    background: #ccc;
}
table.TableStyle01 td.big {
    font-size: 124%;
}
table.TableStyle01 img {
    vertical-align: middle;
}
table.TableStyle02 {
    width: 98%;
    margin: 0 0 10px;
    color: #000;
    font-size: 13px;
    border-style: solid;
    border-color:#059D9D;
    border-width: 1px;
    border-collapse: collapse;
}
table.TableHeaderStyle02 {
    color: #000;
    width:100%;
    font-size: 13px;
    border-style: solid;
    border-color:black;
    border-width: 1px;
    border-collapse: collapse;
    background-color: #07A2A2;
}
table.TableHeaderStyle02 th {
    padding: 2px;
    white-space: nowrap;
    border-color: #059D9D;
    border-style:solid;
    border-width: 1px;
    color: #fff;
    background-color: #07A2A2;
    background-image: none;
    background-repeat: repeat-x;
    background-position: bottom;
}
table.TableStyle02 td {
    font-size: 12px;
    padding: 1px 2px;
    white-space: nowrap;
    border-style:solid;
    border-width: 1px;
    border-color: #059D9D;
}
table.TableStyle02 tr.odd td {
    background: #dee3db;
}
table.TableStyle02 tr.invalidity td {
    background: #ccc;
}
table.TableStyle02 td.big {
    font-size: 124%;
}
table.TableStyle02 img {
    vertical-align: middle;
}
table.TableStyle03 {
    margin: 0 0 10px;
    color: #000;
    font-size: 13px;
    width:100%;
    border-collapse: collapse;
    border-style:solid;
    border-width: 1px;
    border-color: black;
}
table.TableStyle03 th {
    width:25%;
    padding: 2px;
    white-space: nowrap;
    border-color: white;
    border-style:solid;
    border-width: 1px;
    color: #fff;
    background: url(../img/table_bg.png) #2d2d2d bottom repeat-x;
}
table.TableStyle03 td {
    font-size: 12px;
    padding: 1px 2px;
    white-space: nowrap;
    border-style:solid;
    border-width: 1px;
    border-color: black;
    width:75%;
}
table.TableStyle03 tr.odd td {
    background: #dee3db;
}
table.TableStyle03 tr.invalidity td {
    background: #ccc;
}
table.TableStyle03 td.big {
    font-size: 124%;
}
table.TableStyle01 img {
    vertical-align: middle;
}
table.TableStyle04 {
    margin-top:20px;
    margin-left:10px;
    color: #000;
    font-size: 13px;
    border-collapse: collapse;
    border-style:solid;
    border-width: 1px;
    border-color: black;
}
table.TableStyle04 th {
    padding: 2px;
    white-space: nowrap;
    border-color: white;
    border-style:solid;
    border-width: 1px;
    color: #fff;
    background: url(../img/table_bg.png) #2d2d2d bottom repeat-x;
}
table.TableStyle04 td {
    font-size: 12px;
    padding: 1px 2px;
    white-space: nowrap;
    border-style:solid;
    border-width: 1px;
    border-color: black;
}
.ColumnRed {
    color: red;
}
.ColumnBlue {
    color: blue;
}
.rowspan-border1 {
    border-style: none none dotted;
    border-color:#059D9D;
    border-width: 1px;
}
.rowspan-border2 {
    border-style: dotted none none;
    border-color:#059D9D;
    border-width: 1px;
}
ul {
    margin: 0 12px;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
img {
    border:0;
}
h3 {
    color: #993;
    font-family:'Gill Sans', 'lucida grande', helvetica, arial, sans-serif;
    padding-top: 1.5em;
}
.col5 {
    width:5%;
}
.col10 {
    width:10%;
}
.col15 {
    width:15%;
}
.col20 {
    width:20%;
}
.col25 {
    width:25%;
}
.col30 {
    width:30%;
}
.col35 {
    width:35%;
}
.col40 {
    width:40%;
}
.col45 {
    width:45%;
}
.col50 {
    width:50%;
}
.col55 {
    width:55%;
}
.col60 {
    width:60%;
}

h2.mt30{
	margin-top:30px}
h2.mb10{
	margin-bottom:10px}
.mb20{
	margin-bottom:20px}

.alinright{
	text-align:right;
	}
	
.attention-box{
    color: #e8382f;
    border: 1px solid #e8382f;
    padding: 10px;
	}

.border-none input{
    border:none;
    font-size: 16px;
    color: #07a2a2;
    font-weight: bold;
}
.border-none input[type="text"]:focus {
    background: #fff none repeat scroll 0 0;
}
.border-bottom{}
.border-right{}
.HeaddingLarge {
   line-height: 28px;
   margin: 20px 0 10px 20px;
   font-size: 22px;
}
.HeaddingLarge span {
}
.HeaddingLarge2 {
    height: 25px;
    margin: 0.3em 0;
    line-height: 25px;
    padding-left: 25px;
    font-size: 124%;
    background: url(../img/ttlbg_h2.png) left center no-repeat;
}
.HeaddingMid {
    border-bottom: 1px solid #ccc;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 20px 20px 20px;
    padding: 0 0 20px 5px;
    font-weight: normal;
}

#content .HeaddingMid a{
    color: #397e79;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
}

#content .HeaddingMid a:hover{
    color: #00ab8d;
}

.HeaddingMid2 {
    height: 45px;
    padding-left: 15px;
    margin: 0.3em 0 0.3em;
    border-bottom: 1px solid #059D9D;
    background: url(../img/ttlbg_h3_L.png) no-repeat;
    display: block;
}
.HeaddingMid2 span .Normal{
    line-height: 12px;
    font-size: 12px;
}
.HeaddingMid2 span .Red{
    color: red;
    line-height: 18px;
    font-size: 18px;
}
.HeaddingSmall {
    font-size: 16px;
    margin: 0px 5px 0px 0px;
    padding-left: 12px;
    float: left;
    line-height: 1.5;
    font-weight: normal;
    background: url(../img/ttlbg_h4.png) left no-repeat;
    width: 100%;
    text-align: left;
}

.HeaddingSmall + p {
width: 100%;
margin-bottom: 10px;
}

.HeaddingSmall2 {
    width:400px;
}

h3.conth3{
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #666;
    font-weight: normal;
    margin: 0 20px;
    padding: 5px 0 5px 10px;
    border-bottom: none;
}

div.ButtonBox {
    clear: both;
    padding: 5px;
    background: #d5ead8;
    text-align:center;
}

div.ButtonBox p.center {
    text-align: center;
}
div.ButtonBox p.right {
    text-align: right;
}
span.button{
    margin:0px 3px;
}
div.Mes01 {
    color:red;
    font-weight: bold;
    font-size: 124%;
}
div.SelectBikou_Area {
    width:98%;
    padding-bottom: 3px;
}
span.DisplaySelect {
    display: inline-block;
    width:49%;
}
span.BikouCopy {
    display: inline-block;
    width:49%;
    text-align: right;
}

.right {
    text-align: right;
    padding-right : 5px;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
input.datepicker {
    padding-right: 0.2em;
    padding-left: 0.2em;
    width: 7.5em;
}
.TxtCenter, .center {
    text-align: center;
}
input.txt15 {
    padding-right: 0.2em;
    padding-left: 0.2em;
    width: 15em;
}
input.num10 {
    padding-right: 0.2em;
    padding-left: 0.2em;
    width: 7.5em;
}
input.txt30 {
    padding-right: 0.2em;
    padding-left: 0.2em;
    width: 30em;
}
.RedBold {
    font-weight: bold;
    color: #c00000;
}
div.list {
    display:none;
    margin-top:2px;
    margin-bottom:2px;
    border-bottom: 1px solid black;
}


/* ホーム */
div.MenuBox{
}

div.MenuBox #every{
width: 500px;
}

div.MenuBox #set{
    width: 250px;
    }

div.MenuBox #every, div.MenuBox #set{
    border-right: 2px dashed #397e79;
    margin: 0 20px 20px 0;
}

div.MasterBox ,
div.OrderBox ,
div.InfoBox {
    width:29.5%;
    float:left;
}

div.RfpBox {
    width:35%;
    float:left;
}

div.RfpBox ,
div.MenuBox ,
div.MasterBox ,
div.OrderBox ,
div.InfoBox  {
    margin: 20px;
}

div.RfpBox H2,
div.MenuBox H2,
div.MasterBox H2,
div.OrderBox H2,
div.InfoBox H2 {
    border-bottom: solid 3px #397E79;
    line-height: 2;
    margin: 0 0 15px;
}

div.RfpBox p,
div.InfoBox p{
    border-bottom: solid 1px #999;
}

div.MenuBox div{
    float:left;
}

div.order, div.receiving, div.master,div.contact{
    margin: 0px 20px 20px 0;
}

div.estimates, div.stock, div.setting{
        margin: 0 20px 0 0;
    }

div.MenuBox a:link ,
div.MenuBox a:visited ,
div.MenuBox a:hover ,
div.MenuBox a:active 
{
    color: #FFFFFF !important;
}


div.MenuBox .order_menu,
div.MenuBox .receiving_menu,
div.MenuBox .contact_menu,
div.MenuBox .setting_menu,
div.MenuBox .master_menu,
div.MenuBox .estimates_menu,
div.MenuBox .stock_menu{
    background-color:#323A39;
    color:#FFFFFF;
    width:150px;
    height:120px;
    line-height: 1.4;
}

div.MenuBox H3{
    color:#FFFFFF !important;
    margin-left:10px;
    padding: 10px 0 5px 2px;
}

div.MenuBox .order_image{
    width:80px;
    height:120px;
    background-image : url(../img/top_icon_order.png);
    background-color : #569E86;
    background-size:60px 60px;
    background-repeat : no-repeat;
    background-position: 10px 30px;
}

div.MenuBox .receiving_image{
    width:80px;
    height:120px;
    background-image : url(../img/top_icon_enter.png);
    background-color : #E8824b;
    background-size:60px 60px;
    background-repeat : no-repeat;
    background-position: 10px 30px;
}


div.MenuBox .master_image{
    width:80px;
    height:120px;
    background-image : url(../img/top_icon_master.png);
    background-color : #1B77AD;
    background-size:60px 60px;
    background-repeat : no-repeat;
    background-position: 10px 30px;
}

div.MenuBox .setting_image{
    width:80px;
    height:120px;
    background-image : url(../img/top_icon_setting.png);
    background-color : #6E8192;
    background-size:60px 60px;
    background-repeat : no-repeat;
    background-position: 10px 30px;
}


div.MenuBox .contact_image{
    width:80px;
    height:120px;
    background-image : url(../img/top_icon_concierge.png);
    background-color : #B9506D;
    background-size:64px 52px;
    background-repeat : no-repeat;
    background-position: 10px 32px;
}

div.MenuBox .estimates_image{
    width:80px;
    height:120px;
    background-image : url(../img/top_icon_estimates.png);
    background-color : #ddc300;
    background-size:60px 60px;
    background-repeat : no-repeat;
    background-position: 10px 32px;
}

div.MenuBox .stock_image{
    width:80px;
    height:120px;
    background-image : url(../img/top_icon_stock.png);
    background-color : #7a6c99;
    background-size:60px 60px;
    background-repeat : no-repeat;
    background-position: 10px 32px;
}

.master_menu hr{
    margin: 4px 0;
    }
    
.master_menu li span{
   font-weight: bold;
    }

/* ログインページ*/
.loginBody{
    background-color : #F9F9F9;
    font-weight:bolder;
}

.login-logo{
    margin: 90px 0 0;
}

.loginBody a:link ,
.loginBody a:visited ,
.loginBody a:hover ,
.loginBody a:active 
{
    color: #397E79 !important;
}

table.LoginArea{
    width:100%;
    height: 100px;
    margin-top:100px;
}

div#login-page{
    width:500px;
    margin:10px auto 10px;
    padding-bottom:20px;
    border: 1px solid #ccc;
    background-color:#FFFFFF;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

div#login-page div{
    margin:0 auto 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

div#login-page label{
    display:block;
    margin: 20px 0 8px 25px;
    font-size: 16px;
    font-weight:bold;
}

div#login-page input{
    font-size:20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div#login-page input.user, div#login-page input.pass{
    width: 430px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
}

div#login-page a{
    line-height: 3;
}

.button-wrapper{
    margin:10px auto 10px;
}

.login-button{
    width:452px;
    padding: 15px 40px;
    font-size: 1.2em;
    background-color: #397E79;
    color: #fff;
    font-weight:bold;
    border-style: none;
    margin-top:20px;
    cursor:pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
}

.login-button:hover{
    background: #00ab8d;
}

.common-button{
    padding: 10px 20px;
    margin:5px 5px;
    font-size: 1.2em;
    background-color: #397E79;
    color: #fff;
    font-weight:bold;
    border-style: none;
    cursor:pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.common-button-2{
    padding: 5px 10px;
    margin:5px 5px;
    font-size: 1.2em;
    background-color: #397E79;
    color: #fff;
    font-weight:bold;
    border-style: none;
    cursor:pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.common-button-back{
    padding: 10px 20px;
    margin:5px 5px;
    font-size: 1.2em;
    background-color: #777;
    color: #fff;
    font-weight:bold;
    border-style: none;
    cursor:pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}



.common-button:hover{
    background: #00ab8d;
}

.common-button-2:hover{
    background: #00ab8d;
}

.common-button-back:hover{
    background: #00ab8d;
}


.navbar ul{
    margin-top:40px;
    text-align:center;
}

.navbar li{
    display: inline;
    color: #fff;
    margin: 0 5px;
    font-weight: normal;
}

.navbar li > a:link ,
.navbar li > a:visited,
.navbar li > a:hover ,
.navbar li > a:active
{
    color: #999999 !important;
}

.copyRight {
    color:#999999;
    margin: 10px auto 0 auto;
    text-align:center;
    font-weight: normal;
}

div.Login {
    width: 380px;
    height:210px;
    background-image : url('../img/login/login_bg.png');
    background-repeat : no-repeat;
    padding-top: 80px;
}
div.Login div {
    text-align: left;
    margin-left:120px;
    margin-bottom: 6px;
}
div.Login div.login_btn {
    text-align: left;
    margin-left:80px;
    margin-bottom: 6px;
    padding-top: 5px;
}
div.Login p {
    margin-left:20px;
}
div.Login p input{
    padding:2px;
}

/* フッター */
.common-footer{
    height : 40px;
    vertical-align: middle;
    padding: 0 0 0 20px;
    clear: both;
    border-top: 1px solid #777;
}

.common-footer ul {
    display : block;
    float : left ;
    margin: 10px 0px 10px 0;
    padding: 0;
    width: 100%;
}

.common-footer li {
    display: inline;
    margin: 0 10px 0 0;
}

.common-footer a:link ,
.common-footer a:visited,
.common-footer a:hover ,
.common-footer a:active ,
.common-footer .copyRight {
    color : #777;
    vertical-align: middle;
}


.common-copyRight {
    color:#777;
    vertical-align: middle;
    margin: 10px 0 50px 0;
}


td.num {
    text-align: right;
}
.r {
    /*background-color:#FFFFFF !important; */
    border:solid 2px #e4007f !important;
    height:18px;
}

.r_lbl {
    background-color:#AAAAAA;
    height:18px;
}

select.r {
    height:auto !important;
}
div#counts {
    text-align:right;
    font-weight:bold;
    margin:6px 24px 6px 6px;
}
td.chk {
    width:20px;
}
div.disabled {
    display: inline;
    float: none;
    clear: none;
    color: #C0C0C0;
}
div#wrapper {
    width:100%;
    min-height:600px;
}
li {
    list-style-type: none;
}
div#main {
    margin-top: 2px;
    width:100%;
}

div#scol {
    background-color:red;
    height: 35px;
    width: 72px;
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #000;
    filter: alpha(opacity = 0.0); /*IE*/
    -moz-opacity: 0.75; /*FF*/
    opacity: 0.0;
}
div#menu {
    width: 200px;
    position: absolute;
    top: 15px;
    left: 15px;
}
.tabmain {
    border-collapse:collapse;
    empty-cells:show;
    width:100%;
}
.tabmain td {
    padding:0;
}
.tabhead {
    empty-cells:show;
    border-collapse:collapse;
    width:100%;
}
.tabhead th {
    border-bottom:1px solid black;
    padding:5px;
}
.tabhead td {
    border:1px solid black;
    cursor:hand;
    padding:5px;
}
.tabbody {
    border-color:black;
    border-style:solid;
    border-width:0px 1px 1px 1px;
    margin:0px 15px 0px 5px;
    vertical-align:top;
    width:100%;
}
.tabitem {
    display:none;
    margin:0px 5px 0px 5px;
}

.num , .quantity {
    text-align:right;
    padding-right:3px;
    ime-mode:disabled;
}
.date {
    width:80px;
    margin-right:3px;
    background-color:#FFFFFF;
    border:solid 1px black;
    height:20px;
    padding:0px 5px 0px 5px;
}
.datetime {
    width:130px;
}
.txt {
    border:solid 1px black;
    background-color:#FFFFFF;
    height:20px;
    padding:0px 5px 0px 5px;
    width:150px;
}
.tbl_txt {
    border:solid 1px black;
    background-color:#FFFFFF;
    height:19px;
    padding:0px 5px 0px 5px;
    width:90%;
    white-space: nowrap;    
}
.tbl_date {
    border:solid 1px black;
    background-color:#D9E5FF;
    height:19px;
    padding:0px 5px 0px 5px;
    width:76%;
    white-space: nowrap;
}
.txt_small {
    border:solid 1px black;
    background-color:#D9E5FF;
    height:19px;
    padding:0px 5px 0px 5px;
    width:60px;
}

.select {
    width:120px;
    height:19px;
}
label {
    white-space:nowrap;
    display: block;
    float: left;
    margin-left: -1px;
}
.tbl_select {
    width:90%;
}
.lbl {
    border:solid 1px black;
    padding:0px 5px 0px 5px;
    width:120px;
}
.tbl_lbl {
    border:solid 1px black;
    padding:0px 5px 0px 5px;
    width:90%;
}
table.FormStyleTable th {
    white-space: nowrap;
    padding: 5px 10px 5px 0;
    font-size: 11pt;
    text-align: left;
    border: none;
}
table.FormStyleTable td {
    padding:0;
    border: none;
    empty-cells:show;
}
div.SearchBox {
    border: 1px solid #ccc;
    margin: 0px 20px 20px 20px;
    overflow: hidden;
    padding: 15px;
}

div.SearchBox + p {
    margin: -15px 0px 15px 20px ;
    color:#397e79;
}

.TableHeaderStyle01 {
    width:100%;
    table-layout:fixed;
    background-color: #07A2A2;
}
.TableHeaderStyle02 {
    width:100%;
    table-layout:fixed;
    background-color: #07A2A2;
}
.TableStyle01 {
    empty-cells:show;
    width:100%;
    table-layout:fixed;
}
.TableStyle02 {
    empty-cells:show;
    width:100%;
    table-layout:fixed;
}

.TableScroll label ,
.TableScroll2 label {
    overflow-x:hidden;
    margin:1px;
    text-align:left;
    white-space:nowrap;
    width:100%;
}
.TableHeaderAdjustment01 {
    width:100%;
    table-layout:fixed;
}
.TableScroll ,
.TableScroll2 {
    width:100%;
    table-layout:fixed;
    clear: both;
}
.err {
    color:red;
    font-weight:bold;
}
.caution {
    color:blue;
    font-weight:bold;
}
.altrow {
    background-color:oldlace;
}
.TableScroll .txt ,
.TableScroll2 .txt {
    width:99%;
}
.TableScroll select ,
.TableScroll2 select {
    width:99%;
}
.TableScroll .lbl ,
.TableScroll2 .lbl {
    width:99%;
}
select.barcodez {
    width:150px;
    float:left;
    margin-bottom: 5px;
}
span.barcodez_count {
    float:left;
    margin-left:5px;
}

input.print_btn {
    height:90%;
}
input.csv_btn {
    height:90%;
}
input.confirm_btn {
    height:90%;
}
input.fix_btn {
    height:90%;
}

span.must{
    width:30px;
    height:14px;
    display:inline-block;
    margin-left:3px;
    background-image: url(../img/must.png);
    background-repeat : no-repeat ;
}

.sortHeader{
    color: #ffffff;
}

table.TableHeaderStyle01 th{
    color: #ffffff;
}

#datepicker1{
    width: 80px;
}
#datepicker2{
    width: 80px;
}
#datepicker3{
    width: 80px;
}
#datepicker4{
    width: 80px;
}

table.TableStyle01 td > input.txt ,
table.TableStyle02 td > input.txt ,
table.TableStyle01 td > input.lbl ,
table.TableStyle02 td > input.lbl 
{
    width:85% !important;
}

select{
    height:22px;
}

select[size]{
    height:auto !important;
}

.AlertLimitBox{
    color: red;
    font-size:120%;
    font-weight: bold;
}

tr.alert td{
    color : red;
    font-weight: bold;
}

/* 要求履歴サブウィンドウ */
#status_table {
    z-index: 9999;
    background-color: #fff;
    position: absolute;
    height: auto;
    width: auto;
    padding: 4px;
    color: #000;
    left: 400px;
    top: 200px;
}

/* 閉じるボタン */
img.floatClose{
    cursor:pointer;
}

/* 偽リンク */
.dummy_link{
    cursor:pointer;
    color:blue;
}

/* お気に入りメニュー */
div#favorite_menu {
    background-color:#BBBBFF;
    font-size:16pt;
    font-weight:bold;
}

div#favorite_menu a{
    margin-left:10px;
}

div#favorite_menu a:visited {
    text-decoration: none; 
}
div#favorite_menu a:hover {
    text-decoration: none;
    color:#FFFFFF;
}

/* お気に入り */
#fav_table {
    z-index: 15;
    background-color: #fff;
    position: absolute;
    height: auto;
    width: auto;
    padding: 4px;
    color: #000;
    left: 400px;
    top: 200px;
}

/*未訪問のリンク*/
a:link {
    color:#0000FF;
}
/*訪問後のリンク*/
a:visited {
    color:#0000FF;
}

.infomation {
    cursor:pointer;
    padding:5px;
    clear:both;
    background-color:#07A2A2;
    color:#FFFFFF;
    font-weight:bold;
}


.news_title{
}

.news_date{
    float:right;
}

.news_body{
    margin-left:80px;
}

/*sql-dump DEBUG*/
.cake-sql-log {
    background:#000;
    color:#FFF;
    font-size:9.5px;
}
.cake-sql-log:after {
    content : "";
    display : block;
    height : 0;
    clear : both;
}
.cake-sql-log caption {
    background-color:#CC3300;
    color:#FFF;
}
.cake-sql-log:hover {
    top:auto;
    bottom:0;
}
.cake-sql-log td {
    padding:3px;
    border:1px solid #999;
    background-color:#EEE;
    color:#000;
}

/* テーブルストライプ */
table.table-even tr:nth-child(even) {
    background: #dee3db;
}

table.table-odd tr:nth-child(odd) {
    background: #dee3db;
}

div.div-even table:nth-child(even) tr {
    background: #dee3db;
}

div.div-odd table:nth-child(odd) tr {
    background: #dee3db;
}

table.table-even2 tr:nth-child(4n+3) {
    background: #dee3db;
}
table.table-even2 tr:nth-child(4n+4) {
    background: #dee3db;
}

table.table-odd2 tr:nth-child(4n+1) {
    background: #dee3db;
}
table.table-odd2 tr:nth-child(4n+2) {
    background: #dee3db;
}

.tr-selected {
    background:#DFF3C4 !important;
}
.tr-hover{
    background:#BDD1A2 !important;
}

.tr-deleted{
    background:#CCCCCC !important;
}

input.btn {
    border: 0px;
    width: 32px;
    height: 32px;
    cursor:pointer;
}
input.btn:hover{
    border: solid 1px #aaa;
    /*
    z-index: 10;
    background: url(../images/icon/blnk.png) left top no-repeat;
    filter:alpha(opacity=90);
    -moz-opacity:0.90;
    -khtml-opacity:0.90;
    opacity:0.90;
    */
}
input.btn1{
    background: url(../images/icon/icon_001.png) left top no-repeat;
}
input.btn2{
    background: url(../images/icon/icon_002.png) left top no-repeat;
}
input.btn3{
    background: url(../images/icon/icon_003.png) left top no-repeat;
}
input.btn4{
    background: url(../images/icon/icon_004.png) left top no-repeat;
}
input.btn5{
    background: url(../images/icon/icon_005.png) left top no-repeat;
}
input.btn6{
    background: url(../images/icon/icon_006.png) left top no-repeat;
}
input.btn7{
    background: url(../images/icon/icon_007.png) left top no-repeat;
}
input.btn8{
    background: url(../images/icon/icon_008.png) left top no-repeat;
}
input.btn9{
    background: url(../images/icon/icon_009.png) left top no-repeat;
}
input.btn10{
    background: url(../images/icon/icon_010.png) left top no-repeat;
}
input.btn11{
    background: url(../images/icon/icon_011.png) left top no-repeat;
}
input.btn12{
    background: url(../images/icon/icon_012.png) left top no-repeat;
}
input.btn13{
    background: url(../images/icon/icon_013.png) left top no-repeat;
}
input.btn14{
    background: url(../images/icon/icon_014.png) left top no-repeat;
}
input.btn15{
    background: url(../images/icon/icon_015.png) left top no-repeat;
}
input.btn16{
    background: url(../images/icon/icon_016.png) left top no-repeat;
}
input.btn17{
    background: url(../images/icon/icon_017.png) left top no-repeat;
}
input.btn18{
    background: url(../images/icon/icon_018.png) left top no-repeat;
}
input.btn19{
    background: url(../images/icon/icon_019.png) left top no-repeat;
}
input.btn20{
    background: url(../images/icon/icon_020.png) left top no-repeat;
}
input.btn21{
    background: url(../images/icon/icon_021.png) left top no-repeat;
}
input.btn22{
    background: url(../images/icon/icon_022.png) left top no-repeat;
}
input.btn23{
    background: url(../images/icon/icon_023.png) left top no-repeat;
}
input.btn24{
    background: url(../images/icon/icon_024.png) left top no-repeat;
}
input.btn25{
    background: url(../images/icon/icon_025.png) left top no-repeat;
}
input.btn26{
    background: url(../images/icon/icon_026.png) left top no-repeat;
}
input.btn27{
    background: url(../images/icon/icon_027.png) left top no-repeat;
}
input.btn28{
    background: url(../images/icon/icon_028.png) left top no-repeat;
}
input.btn29{
    background: url(../images/icon/icon_029.png) left top no-repeat;
}
input.btn30{
    background: url(../images/icon/icon_030.png) left top no-repeat;
}
input.btn31{
    background: url(../images/icon/icon_031.png) left top no-repeat;
}
input.btn32{
    background: url(../images/icon/icon_032.png) left top no-repeat;
}
input.btn33{
    background: url(../images/icon/icon_033.png) left top no-repeat;
}
input.btn34{
    background: url(../images/icon/icon_034.png) left top no-repeat;
}
input.btn35{
    background: url(../images/icon/icon_035.png) left top no-repeat;
}
input.btn36{
    background: url(../images/icon/icon_036.png) left top no-repeat;
}
input.btn37{
    background: url(../images/icon/icon_037.png) left top no-repeat;
}
input.btn38{
    background: url(../images/icon/icon_038.png) left top no-repeat;
}
input.btn39{
    background: url(../images/icon/icon_039.png) left top no-repeat;
}
input.btn40{
    background: url(../images/icon/icon_040.png) left top no-repeat;
}
input.btn41{
    background: url(../images/icon/icon_041.png) left top no-repeat;
}
input.btn42{
    background: url(../images/icon/icon_042.png) left top no-repeat;
}
input.btn43{
    background: url(../images/icon/icon_043.png) left top no-repeat;
}
input.btn44{
    background: url(../images/icon/icon_044.png) left top no-repeat;
}
input.btn45{
    background: url(../images/icon/icon_045.png) left top no-repeat;
}
input.btn46{
    background: url(../images/icon/icon_046.png) left top no-repeat;
}
input.btn47{
    background: url(../images/icon/icon_047.png) left top no-repeat;
}
input.btn48{
    background: url(../images/icon/icon_048.png) left top no-repeat;
}
input.btn49{
    background: url(../images/icon/icon_049.png) left top no-repeat;
}
input.btn50{
    background: url(../images/icon/icon_050.png) left top no-repeat;
}
input.btn51{
    background: url(../images/icon/icon_051.png) left top no-repeat;
}
input.btn52{
    background: url(../images/icon/icon_052.png) left top no-repeat;
}
input.btn53{
    background: url(../images/icon/icon_053.png) left top no-repeat;
}
input.btn54{
    background: url(../images/icon/icon_054.png) left top no-repeat;
}
input.btn55{
    background: url(../images/icon/icon_055.png) left top no-repeat;
}
input.btn56{
    background: url(../images/icon/icon_056.png) left top no-repeat;
}
input.btn57{
    background: url(../images/icon/icon_057.png) left top no-repeat;
}
input.btn58{
    background: url(../images/icon/icon_058.png) left top no-repeat;
}
input.btn59{
    background: url(../images/icon/icon_059.png) left top no-repeat;
}
input.btn60{
    background: url(../images/icon/icon_060.png) left top no-repeat;
}
input.btn61{
    background: url(../images/icon/icon_061.png) left top no-repeat;
}
input.btn62{
    background: url(../images/icon/icon_062.png) left top no-repeat;
}
input.btn63{
    background: url(../images/icon/icon_063.png) left top no-repeat;
}
input.btn64{
    background: url(../images/icon/icon_064.png) left top no-repeat;
}
input.btn65{
    background: url(../images/icon/icon_065.png) left top no-repeat;
}
input.btn66{
    background: url(../images/icon/icon_066.png) left top no-repeat;
}
input.btn67{
    background: url(../images/icon/icon_067.png) left top no-repeat;
}
input.btn68{
    background: url(../images/icon/icon_068.png) left top no-repeat;
}
input.btn69{
    background: url(../images/icon/icon_069.png) left top no-repeat;
}
input.btn70{
    background: url(../images/icon/icon_070.png) left top no-repeat;
}
input.btn71{
    background: url(../images/icon/icon_071.png) left top no-repeat;
}
input.btn72{
    background: url(../images/icon/icon_072.png) left top no-repeat;
}
input.btn73{
    background: url(../images/icon/icon_073.png) left top no-repeat;
}
input.btn74{
    background: url(../images/icon/icon_074.png) left top no-repeat;
}
input.btn75{
    background: url(../images/icon/icon_075.png) left top no-repeat;
}
input.btn76{
    background: url(../images/icon/icon_076.png) left top no-repeat;
}
input.btn77{
    background: url(../images/icon/icon_077.png) left top no-repeat;
}
input.btn78{
    background: url(../images/icon/icon_078.png) left top no-repeat;
}
input.btn79{
    background: url(../images/icon/icon_079.png) left top no-repeat;
}
input.btn80{
    background: url(../images/icon/icon_080.png) left top no-repeat;
}
input.btn81{
    background: url(../images/icon/icon_081.png) left top no-repeat;
}
input.btn82{
    background: url(../images/icon/icon_082.png) left top no-repeat;
}
input.btn83{
    background: url(../images/icon/icon_083.png) left top no-repeat;
}
input.btn84{
    background: url(../images/icon/icon_084.png) left top no-repeat;
}
input.btn85{
    background: url(../images/icon/icon_085.png) left top no-repeat;
}
input.btn86{
    background: url(../images/icon/icon_086.png) left top no-repeat;
}
input.btn87{
    background: url(../images/icon/icon_087.png) left top no-repeat;
}
input.btn88{
    background: url(../images/icon/icon_088.png) left top no-repeat;
}
input.btn89{
    background: url(../images/icon/icon_089.png) left top no-repeat;
}
input.btn90{
    background: url(../images/icon/icon_090.png) left top no-repeat;
}
input.btn91{
    background: url(../images/icon/icon_091.png) left top no-repeat;
}
input.btn92{
    background: url(../images/icon/icon_092.png) left top no-repeat;
}
input.btn93{
    background: url(../images/icon/icon_093.png) left top no-repeat;
}
input.btn94{
    background: url(../images/icon/icon_094.png) left top no-repeat;
}
input.btn95{
    background: url(../images/icon/icon_095.png) left top no-repeat;
}
input.btn96{
    background: url(../images/icon/icon_096.png) left top no-repeat;
}
input.btn97{
    background: url(../images/icon/icon_097.png) left top no-repeat;
}
input.btn98{
    background: url(../images/icon/icon_098.png) left top no-repeat;
}
input.btn99{
    background: url(../images/icon/icon_099.png) left top no-repeat;
}
input.btn100{
    background: url(../images/icon/icon_100.png) left top no-repeat;
}
input.btn101{
    background: url(../images/icon/icon_101.png) left top no-repeat;
}
input.btn102{
    background: url(../images/icon/icon_102.png) left top no-repeat;
}
input.btn103{
    background: url(../images/icon/icon_103.png) left top no-repeat;
}
input.btn104{
    background: url(../images/icon/icon_104.png) left top no-repeat;
}
input.btn105{
    background: url(../images/icon/icon_105.png) left top no-repeat;
}
input.btn106{
    background: url(../images/icon/icon_106.png) left top no-repeat;
}
input.btn107{
    background: url(../images/icon/icon_107.png) left top no-repeat;
}
input.btn108{
    background: url(../images/icon/icon_010.png) left top no-repeat;
}
input.btn109{
    background: url(../images/icon/icon_092.png) left top no-repeat;
}
input.btn110{
    background: url(../images/icon/icon_025.png) left top no-repeat;
}
input.btn111{
    background: url(../images/icon/icon_032.png) left top no-repeat;
}
input.btn112{
    background: url(../images/icon/icon_043.png) left top no-repeat;
}
input.btn113{
    background: url(../images/icon/icon_028.png) left top no-repeat;
}
input.btn114{
    background: url(../images/icon/icon_028.png) left top no-repeat;
}
input.btn115{
    background: url(../images/icon/icon_067.png) left top no-repeat;
}
input.btn116{
    background: url(../images/icon/icon_096.png) left top no-repeat;
}
input.btn117{
    background: url(../images/icon/icon_006.png) left top no-repeat;
}
input.btn118{
    background: url(../images/icon/icon_049.png) left top no-repeat;
}
input.btn119{
    background: url(../images/icon/icon_059.png) left top no-repeat;
}
input.btn120{
    background: url(../images/icon/icon_019.png) left top no-repeat;
}
input.btn121{
    background: url(../images/icon/icon_020.png) left top no-repeat;
}

/* ツールチップ */
div.tooltip {
/*    width: auto;*/
    position: absolute;
    left: -9999px;
    background: #EEE;
    padding: 5px;
    border: 1px solid #AAA;
}

div.tooltip p{
    color: #FFF;
    background: #299;
    padding: 5px 10px;

}

/* 採用品マスタ 検索フォーム関連 */
div#search_dealer_form {
    z-index: 9999;
    background-color: #808080;
    position: absolute;
    height: auto;
    width: auto;
    padding: 4px;
    color: #fff;
    left: 400px;
    top: 200px;
    width: 350px;
}

div#search_dealer_form ul li {
    margin-top: 2px;
    margin-left: 0px;
}

div#search_jmdn_form {
    z-index: 9999;
    background-color: black;
    position: absolute;
    height: auto;
    width: auto;
    padding: 4px;
    color: #fff;
    left: 400px;
    top: 200px;
    width: 350px;
}

div#search_jmdn_form ul li {
    margin-top: 2px;
    margin-left: 0px;
}

div#search_icc_form {
    z-index: 9999;
    background-color: red;
    position: absolute;
    height: auto;
    width: auto;
    padding: 4px;
    color: #fff;
    left: 400px;
    top: 200px;
        width: 350px;
}

div#search_icc_form ul li {
    margin-top: 2px;
    margin-left: 0px;
}

div#search_item_category_form {
    z-index: 9999;
    background-color: blue;
    position: absolute;
    height: auto;
    width: auto;
    padding: 4px;
    color: #fff;
    left: 400px;
    top: 200px;
        width: 350px;
}

div#search_item_category_form ul li {
    margin-top: 2px;
    margin-left: 0px;
}

/* root element for scrollable */
.scrollable { /* required settings */

    position: relative;
    overflow: auto;
    width: 350px; 
}

/* root element for scrollable items */
.scrollable .items {
    display: none; 
}
.floatClose{
    margin-left: 10px;
}
.item_scrollable {
  overflow: scroll;   /* スクロール表示 */ 
  width: auto;
  height: auto;
}

/* フォーカスがあたっている入力に色をつける */
input[type='text']:focus ,
input[type='password']:focus 
{
    background-color: #ffffbb;
}

div#floating-menu {
    position: fixed;
    z-index: 9999;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(255, 255, 255, 0.506);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-color: #000000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #000000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #000000;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0px 0px 7px #454545;
    bottom: 20px;
    right:0px;
    width: 100px;
}


/*====トップページのポップアップボタンCSS ====*/
#s-guide{
    border: 1px solid #ccc;
    overflow: auto;
    margin: 20px;
/*    position:relative*/
}

#s-guide a.s-guide-link{
    color: #444;
    display: block;
    height: 25px;
    padding: 15px 20px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
}

#s-guide a:hover{
    opacity: 0.7;
}

#s-guide img{
    float: left;
    margin: 0 10px 0 0;
}

#s-guide p{
    float: left;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

#s-guide p span{
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin: 0 30px 0 20px;
}


#s-guide img.s-close{
    position:absolute;
    right: 20px;
    top: 159px;
    z-index: 100;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
}

#s-guide img.s-close:hover{
    opacity:0.7;
}


/*====ポップアップCSS ====*/

#popup{
    margin: 10px auto;
    width: 97%;
    border: 1px solid #ccc;
    text-align: center;
    color: #444;
    overflow: auto;
}

#popup header{
    border-bottom: 1px solid #ccc;
    padding: 0 0 15px;
}

#popup header h1{
    font-size: 24px;
    font-weight: normal;
}

#popup ul.overview{
    display: inline-flex;
}

#popup ul.overview li{
    width: 120px;
}

#popup ul.overview li.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 13px;
    border-color: transparent transparent transparent #367e79;
    width: 30px;
    margin: 50px -15px 0 15px;
}

ul#s-guide-list{
}


ul#s-guide-list li{
    clear: both;
    text-align: left;
    width: 550px;
    margin: 0 auto;
}

ul#s-guide-list li img.icon-left {
    float: left;
    margin: 0 10px 0 0;
}

ul#s-guide-list li p{
    font-size: 14px;
    line-height: 1.8;
    float: left;
    display: block;
    margin: 0 0 20px 50px;
}

ul#s-guide-list li h2{
    float: left;
    line-height: 0.3;
    font-size: 22px;
}

ul#s-guide-list li a{
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
}

ul#s-guide-list li a:hover{
    opacity:0.7;
}

ul#s-guide-list li a img{
    float: right;
    float: left;
    display: block;
    margin: 10px 0 0 ;
}

table.mymaster {
    border-collapse: collapse;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    color: #000;
    font-size: 13px;
    margin: 0 0 10px;
    width: 98%;
}

table.mymaster th {
    background-color: #f7f7f7;
    background-image: none;
    background-position: center bottom;
    background-repeat: repeat-x;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    color: #666;
    padding: 2px;
    white-space: nowrap;
}
table.mymaster td {
    border-bottom: solid 1px #ccc;
    padding: 5px 5px;
    white-space: nowrap;
    font-size: 16px;
    color: #444;
    line-height: 1.5;
}

table.mymaster td span {
    color:#397e79;
}

table.mymaster tr.odd td {
    background: #dee3db none repeat scroll 0 0;
}
table.mymaster tr.invalidity td {
    background: #ccc none repeat scroll 0 0;
}
table.mymaster td.big {
    font-size: 124%;
}
table.mymaster img {
    vertical-align: middle;
    border: 1px solid #ccc;
    width: 80px;
    height: 60px;
}

h2.confilm_message{
    text-align: center;
    line-height: 1.8;
    margin: 50px 0 40px;
    font-size: 22px;
    color: #444;
}

h2.confilm_message a{
    color:#397e79;
    
} 


.same-button{
animation-name: anime1;
animation-duration: 3s;
animation-timing-function: ease;
animation-iteration-count: infinite;
    padding: 10px 20px;
    margin:5px 5px;
    font-size: 1.2em;
    background-color: #00ab8d;
    color: #fff;
    font-weight:bold;
    border-style: none;
    cursor:pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}


@keyframes anime1 {
0% {background-color: #00ab8d;}
50%{background-color: #FF7939;}
100% {background-color: #00ab8d;}
}