div#zura-table{
    margin: 20px;
    font-size: 16px;
	}

div#zura-table table{
	border: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
}

div#zura-table table.extension th{
    width: 50%;
    padding: 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: left;
    background: #d5ead8 none repeat scroll 0 0;
}

div#zura-table td{
    padding: 10px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

div#zura-table table.state td{
    font-weight: bold;
	}

div#zura-table table.extension td{
	    text-align: right;
	}

div#zura-table .common-button-2{
    font-size: 14px;
    padding: 2px 5px;
    margin: 0 0 0 15px;
    border-radius: 3px;
    font-weight: normal;
	}

table.zura-simulator{
    border-collapse:collapse;
    border-spacing:0px;
	}

table.zura-simulator th{
    font-weight: normal;
    background: #eee;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
	}

table.zura-simulator td{
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px 0;
    background: #fff;
	}

table.zura-simulator td.hedden{
    background: #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
	}

table.zura-simulator td.zura-date{
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px 0;
    background: #eee;
	}

tr.zura-date{
    text-align: center;
    background: #eee;
	}

td.hedden{
    background: #fff;
}

div#extension-detail{
    height: 257px;
    overflow: auto;
    border-collapse:collapse;
    border-spacing:0px;
	}

div#extension-detail table{
    font-size: 12px;
	}

div#extension-detail table th{
    border: 1px solid #ccc;
    background: #eee;
    padding: 5px 0;
	}

div#extension-detail table th.hedden{
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    background: #fff;
}

div#extension-detail table td{
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px 0;
	}

div#fix-summary{
    padding: 20px;
    margin: 0 0 20px;
	}

div#fix-summary table{
    border: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
    font-size: 16PX;
    margin: 0px 0 15px;
}

div#fix-summary th{
    border: 1px solid #ccc;
    text-align: left;
    padding: 10px;
    background: #d5ead8;
    width: 50%;
}

div#fix-summary td{
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
    text-align: right;
}

div#fix-summary table.zura-result{
    margin: 0;
	}

div#fix-summary table.zura-result th{
    background: #feecd2;
	}

.back-white{
    background: #fff;
	}
.back-gray{
    background: #eee;
	}

.box-float{
    display:table;
}
.box-float div{
    display:table-cell;
    float:left;
    font-size:20px;
    padding-bottom:16px;
    vertical-align:middle;
  }
.box-float span{
    padding-left:24px;
  }

div#claims-detail{
    height: 568px;
    overflow: auto;
    padding-left:14px;
    border-collapse:collapse;
    border-spacing:0px;
	}

div#claims-detail table{
    font-size: 16px;
	}

div#claims-detail table th{
    border: 1px solid #ccc;
    background: #eee;
    padding: 5px 0;
    width: 136px;
	}

div#claims-detail table td{
    border: 1px solid #ccc;
    text-align: right;
    padding: 5px 8px 5px 0px;
	}

div#claims-detail table td.Scheduled{
    background: #CAE3BF;
	}

div#claims-detail table td.Record{
    background: #FCEABB;
	}

div#claims-detail table td.OperationTarget{
    background: #8ED1E0;
	}
