<div id="search_dealer_form" class="search_form" >
<span>販売元検索</span>
<input type="text" name="dealer_name" id="search_dealer_name" class="search_canna" />
<input type="button" id="search_dealer_btn" name="search_dealer_btn" value="検索" /><img src="<?php echo $this->webroot; ?>img/close2_blk.gif" alt="close" class="floatClose" />
<div class="scrollable vertical">
<ul id="search_dealer_results" class="items"></ul>
</div>
</div>


<div id="search_icc_form" class="search_form" >
<span>保険請求コード検索</span>
<input type="text" name="icc_name" id="search_icc_name" class="search_canna"  />
<input type="button" id="search_icc_btn" name="search_icc_btn" value="検索" /><img src="<?php echo $this->webroot; ?>img/close2_blk.gif" alt="close" class="floatClose" />
<div class="scrollable vertical">
<ul id="search_icc_results" class="items"></ul>
</div>
</div>


<div id="search_jmdn_form">
<span>JMDNコード検索</span>
<input type="text" name="jmdn_name" id="search_jmdn_name" />
<input type="button" id="search_jmdn_btn" name="search_jmdn_btn" value="検索" /><img src="<?php echo $this->webroot; ?>img/close2_blk.gif" alt="close" class="floatClose" />
<div class="scrollable vertical">
<ul id="search_jmdn_results" class="items"></ul>
</div>
</div>

<div id="search_item_category_form">
<span>商品区分コード検索</span>
<input type="text" name="item_category_name" id="search_item_category_name" />
<input type="button" id="search_item_category_btn" name="search_item_category_btn" value="検索" /><img src="<?php echo $this->webroot; ?>img/close2_blk.gif" alt="close" class="floatClose" />
<div class="scrollable vertical">
<ul id="search_item_category_results" class="items"></ul>
</div>
</div>
