<div class="address">
  <div class="left">
      <div><span class='bold'> <?php echo $data[0][0]['billing_zip'] ?> </span></div>
      <div><span class='bold'> <?php echo $data[0][0]['billing_address'] ?> </span></div>
      <div><span class='bold'> <?php echo $data[0][0]['billing_facility_name'] ?> 　<?php echo $loginUserName ?>様</span></div>
  </div>
  <div class="right">
      <div><?php echo $closing_date ?> 締切り分</div>
      <br>
      <div>812-0017</div>
      <div>福岡市博多区東比恵3-1-2</div>
      <div>東比恵ビジネスセンター8F</div>
      <div><span class='bold'>株式会社エーエヌディー</span></div>
      <div>TEL(092)483-6041 FAX(092)483-6047</div>
      <br>
      <div>振込先:西日本シティ銀行　渡辺通支店</div>
      <div>口座番号:普通３０３１３６９</div>
      <div>口座名義:カ）エーエヌディー</div>
  </div>
</div>
