﻿<h1>発注書</h1>
<hr>
<div align='right'>発注日：<?php echo $data[0][0]['work_date']; ?> </div>
<br>
<?php echo $data[0][0]['supplier_name'] ?> 様<br>
発注番号 : <?php echo $data[0][0]['work_no'] ?><br>

<br>
<br>
<br>
請求金額：2500 円<br>
