<script type="text/javascript">
$(document).ready(function(){
    $("#send_btn").click(function(){
        if(window.confirm("申し込みます。よろしいですか？")){
            $("#send_form").attr('action', '<?php echo $this->webroot; ?><?php echo $this->name; ?>/send').submit();
        }
    });
});
</script>

<div id="content-wrapper">

<div id="TopicPath">
    <ul>
        <li><a href="<?php echo $this->webroot?>login/home">ＴＯＰ</a></li>
        <li>メッカル医療材料ベンチマークサービス</li>
    </ul>
</div>

<div id="meccul-header">
<h2><span>meccul</span>メッカル医療材料ベンチマークサービス</h2>
<a href="http://healthcaresolution.jp/" target="_blank"><img src="<?php $this->webroot ; ?>img/meccul_button.png" width="180px" /></a>
</div><!--#meccul-header-->

<div id="wrapper-in">
<p style="font-weight:bold;font-size:24px;">ベンチマークデータ（市場価格）をもとに医療材料購入価格を分析するサービスです。</p>
 <div class="meccul-des">
  <ul class="list-style-orange">
   <li>約2,000病院の購買情報を搭載した価格をからベンチマーク可能</li>
   <li>ベンチマーク結果を分布図またはバブルチャートで表示</li>
   <li>単品ごとのベンチマークで、自院の購入価格の適性度を把握</li>
   <li>独自の用途分類を全データに実装しており、代替品・競合品の検索が可能</li>
  </ul>
  <br />
  <ul class="graph">
   <li><img src="<?php $this->webroot ; ?>img/graph_01.png" height="110px" /><p><span>単体の分布</span>購買価格の適性度を簡単把握！</p></li>
   <li><img src="<?php $this->webroot ; ?>img/graph_02.png" height="110px" /><p><span>単価の占有率</span>価格帯毎の施設の構成比が参照可能！</p></li>
   <li><img src="<?php $this->webroot ; ?>img/graph_03.png" height="110px" /><p><span>同用途品のメーカー別シェア</span>用途が同じ医療材料のメーカー別シェア率を分析！</p></li>
   <li><img src="<?php $this->webroot ; ?>img/graph_04.png" height="110px" /><p><span>価格変動履</span>価格の変動率を月毎に調査可能！</p></li>
  </ul>
 </div>

<div class="linebox">
<h3 class="green">料金について</h3>
<p>ご契約より1年間30品目まで100,000円（税抜）にてご提供</p>
<ul>
 <li>追加料金にて、品目追加も可能です。</li>
 <li>未使用分は、次契約期間への繰り越しも可能です。</li>
 <li>規格違い品は1品目にカウントされます。（一部商品は対応しておりません）</li>
</ul>
</div><!--.linebox-->

<div class="linebox">
<h3 class="green">支払い方法について</h3>
<ul>
 <li>販売代理店である株式会社エーエヌディーより、ベンチマークサービス利用料としてご請求致します。</li>
 <li>請求書の内容に基づき、銀行振り込みでのお支払となります。</li>
 <li>振込確認後、3〜5営業日以内にID及びパスワードを発行いたします。</li>
</ul>
</div><!--.linebox-->

<div class="linebox">
<h3 class="green">お申し込みから、ベンチマークサービスご利用までの流れ</h3>
<ul class="flow-Tandem">
 <li class="tandem-box">お申し込み後に、株式会社エーエヌディーより請求書を送付いたします</li>
 <li class="triangle"></li>
 <li class="tandem-box">入金確認後、本サービスの登録手続きを行います。<br />（登録までは3〜5営業日のお時間をいただきます。）</li>
 <li class="triangle"></li>
 <li class="tandem-box">登録が完了しましたら、本サービスのログインIDとパスワードを、<br />マスタコンシェルジュからメールにてご連絡いたします。</li>
 <li class="triangle"></li>
 <li class="tandem-box">コスロスクラウドのトップページから、本サービスをご利用いただけます。</li>
</ul>
</div><!--.linebox-->
</div><!--#wrapper-in-->

<h3 class="mexxul-order">メッカル医療材料ベンチマークサービスの利用を申し込む</h3>
<div class="triangle"></div>
<p>メッカル医療材料ベンチマークサービスの利用を申し込む場合は、以下「利用規約」をお読みください。</p>
<h4 class="h4terms">利用規約</h4>
<div class="terms">
<p>この利用規約（以下，「本規約」といいます。）は、株式会社エーエヌディー（以下，「当社」といいます。）が
コスロスクラウドで提供する「メッカル医療材料ベンチマークサービス」（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下、「ユーザー」といいます。）には、本規約に従って、本サービスをご利用いただきます。</p>

<p>本サービスを利用することによって、本規約の内容を承諾いただいたものとみなしますので、よく読んでご利用ください。</p>
<dl>
<dt>第1条（適用）</dt>
<dd>本規約は，ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。</dd>
<dt>第2条（前提条件）</dt>
<dd>ユーザーは、本規約の条項に同意しなければ、本サービスを利用することができないものとします。</dd>
<dt>第3条（使用許諾）</dt>
<dd>当社は、ユーザーに対し、次の各号に掲げる目的において本サービスの使用を許諾します。<dd>
<dd>・ユーザーの医療材料購入データの分析<br />
　※ユーザーは上記目的以外において、本サービスの利用、閲覧、データ流用等は一切出来ないものとします。また、ユーザーは自らが共同購買への参加を目的とする場合であっても第三者に対して本サービスから入手した情報を開示することは出来ないものとします。</dd>

<dd>2.ユーザーは、次の各号に掲げる方法及び条件に従い、本サービスを使用します。
   <ul>
     <li>（1）ユーザーは、本サービスに含まれる情報を有償無償を問わず第三者に開示してはならないものとします（本サービスに含まれるデータの全部又は一部をインターネット上に掲載することもできないものとします）。</li>
     <li>（2）ユーザーは、自施設においてのみ本サービスを利用するものとし、本サービスの利用権又は本サービスに含まれる情報の全部又は一部を譲渡することはできず、第三者への利用を許諾することもできないものとします。</li>
     <li>（3）ユーザーは、本サービスに含まれる情報の全部又は一部を複製、改変、改作、変換又は統合してはならず、二次又は派生著作物を制作することもできないものとします。</li>
     <li>（4）ユーザーは、日本国内においてのみ本サービスを利用し、これを日本国外で利用することはできないものとします。</li>
     <li>（5）ユーザーは、本サービスに含まれるプログラムのソースコード、デザイン記録又はオブジェクトコードの入手又は使用をすることはできないものとします。</li>
     <li>（6）ユーザーは、本サービスに含まれるプログラムのリバースエンジニアリング、逆コンパイル又は逆アセンブルをすることはできないものとします。</li>
     <li>（7）ユーザーは、本サービスと共に提供されたセキュリティを遵守しなければならず、これを回避するような措置を行ってはならないものとします。</li>
     <li>（8）本サービスの利用を助けるため、当社からユーザーに対してマニュアル等が提供される場合、ユーザーは、これを複製することはできないものとします。但し、滅失、毀損に備える目的として合理性が認められる方法で複製がなされる場合はこの限りではありません。</li>
   </ul>
</dd>
<dd>3.ユーザーは、本契約に定めるとおり、本サービスに関する非独占的な利用権を取得しますが、著作権、所有権、その他いかなる権利も取得しないものとします。</dd>

<dt>第4条（本サービスの利用）</dt>
<dd>ユーザーは、次の方法により、本サービスを利用する。
　　本サービスサイトへのアクセス：電気通信事業者等の電気通信サービス等の経由
　　ログイン：マスターID又はユーザID及びこれらに対応するパスワードの使用</dd>
<dt>第5条（著作権）</dt>
<dd>本サービスに含まれる著作物に関する権利は、当社及び当社が許諾を受けている第三者が保有します。ユーザーは、本サービスに含まれる著作物に関する権利が、著作権法及び国際条約の規定によって保護されていることを認識し、著作権保護対象物として取り扱うものとします。</dd>
<dd>2.ユーザーが本サービスの利用により得た分析結果の著作権は、当社及び当社が許諾を受けている第三者に帰属するものとします。</dd>

<dt>第6条（責任の権限）</dt>
<dd>本サービスに含まれる情報についての当社の保証は、次の各号に定めるとおり、制限されるものとします。
  <ul>
    <li>(1)	当社は、本サービスに含まれる情報の完全性、正確性又は有用性を保証するものではありません。ユーザーは、本サービスの利用により得た分析結果を自己の責任と負担において利用します。</li>
    <li>(2)	当社は、本サービスに含まれる情報に誤植がないことを保証するものではありません。但し、当社は、ユーザーによる本サービスの利用期間中、ユーザーから、本サービスに含まれる情報の誤植に関する通知を受けた場合、直ちに、これを修正しなければなりません。</li>
  </ul>
</dd>
<dd>2.ユーザー又はユーザーの取引先等において、本サービスの使用又は使用不能に起因して、事業上の利益の損失、事業上の障害、事業上の情報の損失による損害及びその他の損害が発生したとしても、当社は、かかる損害を賠償する責任を負わないものとします。</dd>
<dt>第7条（料金の支払）</dt>
<dd>ユーザーは、本サービスの利用に関り、別紙に定める料金を、次のとおり、当社に対して支払うものとします。<br>
　　請求書の送付：利用開始後、請求書（年額）を送付<br>
　　支払期限：請求書が送付された日の属する月の当月末<br>
　　支払方法：当社の指定する銀行口座への振込</dd>
<dt>第8条（有効期間）</dt>
<dd>本サービスの契約の有効期間は、本サービスの利用に必要なアカウントが発行された月より1年間とし、期間満了の１ヵ月前までにユーザーまたは当社から本契約を終了する旨の書面による意思表示がない場合には、更に１年間これを延長するものとして、以後期間満了毎この例に従うものとします。</dd>
<dt>第9条（機密保持）</dt>
<dd>本規約において、機密情報とは、当社が、本サービスの契約のの有効期間中、本契約に関してユーザーに対して開示する技術上又は営業上の情報で、次の各号のいずれかに該当するものをいいます（複製された情報を含む）。
  <ul>
  <li>（1）機密である旨を明示した書面（図面、システム構成図、仕様書等の書類、アイデア、構想等の情報、その他関係資料等）により開示される情報。</li>
  <li>（2）機密である旨を告知した上で口頭にて開示され、かつ開示後30日以内に当該内容が書面化された情報。</li>
  </ul>
</dd>
<dd>2.前項の規定にかかわらず、次の各号のいずれかに該当するものは、本契約における機密情報として取扱わないものとします。
  <ul>
  <li>（1）開示された時点で、既に公知であった情報</li>
  <li>（2）開示を受けた時点で、被開示者が既に保有していた情報</li>
  <li>（3）開示された後に、被開示者の責によらずに公知となった情報</li>
  <li>（4）開示された後に、被開示者が、正当な権限を有する第三者から機密保持義務を負うことなく適法に入手した情報</li>
  </ul></dd>
<dd>3.ユーザーは、善良なる管理者たる注意をもって、機密情報を秘密として厳重に管理するものとし、機密情報の全部又は一部を第三者に開示、提供又は漏洩してはならないものとします。但し、法令の定めに基づき又は権限のある官公署から開示を要求された場合はこの限りではありません。</dd>
<dd>4.ユーザーは、当社の事前の書面による承諾がなければ、本契約の目的以外に機密情報を使用してはならないものとします。</dd>
<dd>5.ユーザーは、原則として、機密情報を複製してはならないものとします。但し、ユーザーは、事前に当社からの書面による承諾を得ることにより、その承諾の範囲内において、機密情報を複製することができるものとします。</dd>
<dd>6.ユーザーは、本契約が終了した場合又は当社から要求された場合、速やかに機密情報及びそれらが記録された媒体（複製物を含む）を、当社の選択により返還又は破棄しなければならないものとします。</dd>
<dd>7.本条に基づくユーザーの機密保持義務は、本契約が終了した後も、10年間存続するものとします。</dd>
<dt>第10条（即時解約）</dt>
<dd>ユーザーに次の各号に定める事由のいずれかが生じた場合、当社は、事前の催告を要することなく、ユーザーに対する書面による通知により、本契約の全部又は一部を直ちに終了することができるものとします。
<ul>
<li>（1）公租公課等の滞納処分を受けた場合</li>
<li>（2）差押、仮差押、仮処分等の強制執行を受けた場合</li>
<li>（3）民事再生手続、破産手続、又は会社更生手続の開始申立てがなされた場合</li>
<li>（4）自ら振り出し又は裏書した手形又は小切手が1回でも不渡り処分を受けた場合</li>
<li>（5）解散、分割、合併又は営業の全部若しくは重要な一部の譲渡を決議した場合</li>
<li>（6）事業を営むことを停止し、若しくはそのおそれがある場合、又は事業若しくは資産の全部若しくは重要な一部を処分した場合</li>
<li>（7）財産状態の悪化又はそのおそれがあると認められる相当の事由がある場合</li>
<li>（8）当社との間の契約（本契約を含むがこれに限らない）の条項について重大な違反を犯した場合</li>
<li>（9）その他上記各号に準ずる信用不安又は信頼関係の破綻が認められた場合</li>
</ul>
</dd>
<dt>第11条（予告解約）</dt>
<dd>ユーザーに次の各号に定める事由のいずれかが生じた場合、当社は、ユーザーに対して、30日以上の期間を定めて書面にてその是正を催告し、その期間内にかかる事由が是正されないときは、当社は、本契約の全部又は一部を終了することができるものとします。
  <ul>
   <li>（1）当社との間の契約（本契約を含むがこれに限らない）の条項に違反した場合（軽微な違反を含むがこれに限らない）</li>
   <li>（2）本契約の締結又は履行に際して当社に対する虚偽の通知又は申告を行った場合</li>
   <li>（3）株主、オーナー又は役員の変更等により甲の支配権に変動が生じた場合</li>
   <li>（4）その他上記各号に準ずる事情変更が認められた場合</li>
  </ul>
</dd>
<dt>第12条（期限の利益の喪失）</dt>
<dd>第10条各号に該当する事由が発生した場合若しくは第11条に定める期間内に催告がなされた事由が是正されない場合、又は本契約が終了した場合、ユーザーは、当社に対する一切の債務について当然に期限の利益を喪失するものとします。</dd>
<dt>第13条（契約の終了）</dt>
<dd>ユーザーの本契約に基づく権利（本製品の使用許諾権を含むがこれに限らない）は、本契約の有効期間の終了により自動的に消滅するものとします。</dd>
<dd>2.ユーザーは、本契約が終了した場合、当社の選択に従い、本サービスの利用により取得した一切のデータを消去するか、又は、本サービスとこれに付随する物のすべてを速やかに乙に返却しなければならないものとします。</dd>
<dt>第14条（協議）</dt>
<dd>ユーザー及び当社は、本契約に定められていない事項及び本契約の解釈に疑義を生じたときは、相互に誠意をもって協議するものとします。</dd>
<dt>第15条（準拠法）</dt>
<dd>本契約は、日本法に準拠するものとします。</dd>
<dt>第16条（準拠法）</dt>
<dd>本契約に関する一切の紛争については、東京地方裁判所を第一審の管轄裁判所とします。</dd>
</dl>
</div><!--#terms-->
<form id="send_form" method="post">
<a id="send_btn" class="meccul-order">同意して申し込む</a>
</form>
</div><!--#content-wrapper-->
