<div style="text-align: center;">
    <h1>システムエラー</h1>
    <p>システムでエラーが発生しました。</p>
    <p>お手数ですが管理者へご連絡下さい。</p>
    <br />
    <br />
    <br />
    <a href="<?php echo $this->webroot; ?>">TOPへ戻る</a>
</div>
