<printdata>
	<setting>
		<layoutname><?php echo $layout_name; ?></layoutname>
		<fixvalues><value name="<?php echo $fix_value['タイトル']; ?>"><?php echo $fix_value['タイトル']; ?></value></fixvalues>
	</setting>
	<datatable>
		<columns><?php echo $columns; ?></columns>
		<rows>
			<?php foreach($posted as $_row){ ?>
			<row><?php echo  h(implode("\t", $_row)); ?></row>
			<?php } ?>
		</rows>
	</datatable>
</printdata>